@import "tailwindcss";

@plugin "daisyui" {
	themes: light --default;
}

@plugin "daisyui/theme" {
	name: "dim";
	default: true;
	prefersdark: true;
	color-scheme: "light";
	--color-base-100: oklch(29% 0.066 243.157);
	--color-base-200: oklch(39% 0.09 240.876);
	--color-base-300: oklch(44% 0.11 240.79);
	--color-base-content: oklch(95% 0.026 236.824);
	--color-primary: oklch(80% 0.105 251.813);
	--color-primary-content: oklch(28% 0.091 267.935);
	--color-secondary: oklch(82% 0.12 346.018);
	--color-secondary-content: oklch(28% 0.109 3.907);
	--color-accent: oklch(87% 0.006 286.286);
	--color-accent-content: oklch(14% 0.005 285.823);
	--color-neutral: oklch(58% 0.158 241.966);
	--color-neutral-content: oklch(97% 0.013 236.62);
	--color-info: oklch(71% 0.143 215.221);
	--color-info-content: oklch(98% 0.019 200.873);
	--color-success: oklch(70% 0.14 182.503);
	--color-success-content: oklch(98% 0.014 180.72);
	--color-warning: oklch(70% 0.213 47.604);
	--color-warning-content: oklch(98% 0.016 73.684);
	--color-error: oklch(64% 0.246 16.439);
	--color-error-content: oklch(96% 0.015 12.422);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 2rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}
